.addPage {
  background-color: rgb(237, 221, 221);
  margin: 2rem 10rem 2rem 10rem;
  border-radius: 15px;
  padding: 2rem 12rem 2rem 12rem;
  height: 40rem;
  overflow: auto;
  text-align: center;
}


.addPage::-webkit-scrollbar {
  display: none;
}

.field {
  width: 60rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: left;
}

.submitButton {
  margin-top: 2rem !important;
  background-color: rgb(225, 180, 180) !important;
  border-radius: 50px !important;
  width: 6rem !important;
  margin-right: 2rem !important;
  margin-left: 2rem !important;
}

.postCard {
  display: "flex" !important;
  justify-content: "center" !important;
  flex-wrap: "wrap" !important;
  background-color: rgb(237, 221, 221) !important;
  border-radius: 50px !important;
  margin-bottom: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.itemCard {
  background-color: rgb(192, 192, 192) !important;
  margin-bottom: 1rem;
  border-radius: 50px !important;
  padding-left: 1rem;
}

.posts {
  max-height: 80rem !important;
  overflow: auto !important;
}

.inactiveButton {
  margin-left: 0.5rem !important;
}

.alreadyInactive {
  padding-left: 0.5rem;
}

.donators {
  background-color: rgb(234, 217, 217) !important;
  border-radius: 50px !important;
  margin-top: 1rem !important;
}